body,
input, select, textarea {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

h1 {
	color: #3CB371;
	font-weight: normal;
	font-size: 1.60em;
	margin: 0.8em 0 0.3em 0;
}

h3 {
	color: #000000;
}

#question {
	margin-left: 3%;
	width: 80%;
	margin-bottom: 3%;
	
}

#questionInfo {
	border-bottom: 1px solid #CCCCCC;
	margin: 0.8em 1em 0.3em;
	padding: 0 0.25em;
	margin-bottom: 3%;
}

#authorQuestion {
	margin-right: 10%;
	text-align: right;
}

#tags {
	text-align: left;
	margin-left: 3%;
	margin-bottom: 1%;
}

#editButton {
	text-align: left;
	margin-left: 3%;
	float: left;
}

#messages {
	margin-left: 6%;
}

#comments {
	margin-left: 10%;
}

